#header {
  display: flex;
  flex-direction: row;
  height: 70px;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(28, 110, 164, 0.04);
  z-index: 2;
  backdrop-filter: blur(10px);
}
#header .flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
  margin-left: 25%;
  align-items: center;
  left: 0;
  position: fixed;
  height: 70px;
}
#header .link {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
  margin-right: 25%;
  right: 0;
  align-items: center;
  position: fixed;
  height: 70px;
}
#header .header-link {
  text-decoration: none;
  color: #5d5656;
}
#header .header-link:hover {
  color: #dc3845;
}
#header #noel {
  width: 30px;
  height: 30px;
}
#header .bg {
  background-color: red;
}

.shadow {
  box-shadow: 0px 0px 9px 7px rgba(0, 0, 0, 0.14);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.text {
  color: #5d5656;
}

.dark {
  background-color: #282525;
  color: white;
}
.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark h4 {
  color: white;
}
.dark header {
  background-color: black;
  color: white;
}
.dark header a {
  color: white;
}
.dark .pains {
  color: black;
}
.dark .title-h3 {
  color: black;
}
.dark .head-link {
  color: white;
}

#sapin {
  display: flex;
  margin-top: 70px;
}
#sapin .image {
  width: 50%;
}
#sapin .midle {
  width: 50%;
}
#sapin .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 17%;
}
#sapin .left {
  display: flex;
  justify-content: flex-end;
}
#sapin #title {
  color: #282525;
  font-size: 40px;
  font-weight: 900;
}

.button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #dc3845;
  font-size: 17px;
  color: white;
  border-radius: 50px;
  text-decoration: none;
}

.gifts {
  margin-top: 50px;
  margin-left: 27%;
  display: flex;
  flex-direction: row;
  margin-right: 27%;
  justify-content: space-between;
}

.first-gift {
  display: flex;
  flex-direction: column;
  width: 230px;
  margin: 0px;
  text-align: center;
  align-items: center;
}
.first-gift .cadeaux-marge {
  margin: 0px;
}

.second-gift {
  display: flex;
  flex-direction: column;
  width: 230px;
  text-align: center;
  align-items: center;
}
.second-gift .cadeaux-marge {
  margin: 0px;
}

.third-gift {
  display: flex;
  flex-direction: column;
  width: 240px;
  text-align: center;
  align-items: center;
}
.third-gift .cadeaux-marge {
  margin: 0px;
}

.image-gifts {
  width: 150px;
  height: 150px;
}

.cheminer-flex {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  margin-left: 25%;
  margin-right: 25%;
}

.text-cheminer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}

.cheminer {
  width: 100%;
}

.justify {
  text-align: justify;
  margin-right: 123px;
}

.amour {
  margin-right: 200px;
}

.flex-button {
  margin-top: 20px;
}

.partage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.title-cadeau {
  width: 100%;
}

.title-h2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.ticket-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: 40%;
}

.ticket {
  width: 200px;
  height: 320px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 9px 7px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.ticket .bx {
  margin-top: 5px;
  margin-right: 15px;
  width: 100%;
  font-size: 20px;
  text-align: end;
  color: #dc3845;
}

.ticket:hover {
  transition-duration: 0.5s;
  transform: translateY(-10px);
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.image-ticket {
  width: 100%;
  justify-content: center;
}

.flex-image-ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title-h3 {
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

.pains {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 30px;
  width: 100%;
}

.marginhat {
  width: 80%;
  margin-left: -8px;
}

.new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
.new .new-cadeau {
  display: flex;
  justify-content: center;
  width: 100%;
}
.new .new-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 100px;
  height: 450px;
}
.new .box-item {
  box-shadow: 0px 0px 9px 7px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 290px;
  border-radius: 10px;
  position: relative;
}
.new .box-item:hover {
  transition-duration: 0.5s;
  transform: translateY(-10px);
}
.new .h2-cadeau {
  text-align: center;
  width: 100%;
}
.new .image-item {
  margin-bottom: 5px;
  justify-content: center;
  width: 70%;
}
.new .bg-item {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #dc3845;
  border-radius: 10px 10px 50% 50%;
}
.new .top2 {
  background-color: #dc3845;
  border-radius: 5px 5px 10px 5px;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 50px;
  color: #dc3845;
}
.new .top2 .bx {
  color: white;
  position: absolute;
  font-size: 15px;
  right: 8px;
  bottom: 8px;
}
.new .center-item {
  margin-top: 20px;
  text-align: center;
}
.new .marginpx {
  margin: 0px;
}

.voeux {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.bg-voeux {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  background-color: #dc3845;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 20px;
}

.text-voeux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.image-voeux {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.letter {
  margin-left: 50px;
  width: 60%;
  transform: rotateZ(15deg);
}

.h2-voeux {
  font-size: 35px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 100px;
  color: white;
  margin-top: 0px;
}

.input {
  margin-left: 100px;
  border-radius: 50px;
  height: 40px;
  width: 50%;
  text-decoration: none;
  border: none;
}

input::placeholder {
  text-align: center;
}

.envoie {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  background-color: #282525;
  padding: 15px;
  width: 30%;
  text-decoration: none;
  color: white;
  border-radius: 30px;
}

.envoie:hover {
  background-color: white;
  color: #282525;
}

#footer {
  display: flex;
  flex-direction: row;
  margin-left: 25%;
  margin-right: 25%;
  width: 100%;
  gap: 30px;
  margin-top: 50px;
  position: relative;
}

.footer-noel {
  margin-top: 0px;
  margin-left: 40px;
  font-size: 20px;
}

.try {
  margin: 0px;
}

.logo-noel {
  width: 10%;
}

.first-div {
  width: 25%;
}

.second-div {
  width: 25%;
}

.third-div {
  margin-left: 20px;
  width: 25%;
}

.fourth-div {
  width: 25%;
}

.all-div {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.app {
  width: 120px;
  margin-right: 25px;
}

.liste {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.end {
  text-align: end;
}

.textnone {
  text-decoration: none;
  color: #282525;
}

.positionleft {
  width: 7%;
  position: absolute;
  left: 475px;
}

.positionright {
  position: absolute;
  width: 7%;
  right: 350px;
  top: 3370px;
}

.reserve {
  margin-top: 100px;
  text-align: center;
}

.center {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.second-title {
  width: 350px;
}

body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  margin-left: 25% !important;
  margin-right: 25% !important;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
