#header {
  display: flex;
  flex-direction: row;
  height: 70px;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
}
#header .flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
  margin-left: 25%;
  align-items: center;
  left: 0;
  position: fixed;
  height: 70px;
}
#header .link {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
  margin-right: 25%;
  right: 0;
  align-items: center;
  position: fixed;
  height: 70px;
}
#header .header-link {
  text-decoration: none;
  color: #5d5656;
}
#header .header-link:hover {
  color: #dc3845;
}
#header #noel {
  width: 30px;
  height: 30px;
}
#header .bg {
  background-color: red;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.text {
  color: #5d5656;
}

#sapin {
  display: flex;
  margin-top: 70px;
}
#sapin .image {
  width: 50%;
}
#sapin .midle {
  width: 50%;
}
#sapin .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 17%;
}
#sapin .left {
  display: flex;
  justify-content: flex-end;
}
#sapin #title {
  color: #282525;
  font-size: 40px;
  font-weight: 900;
}

.button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #dc3845;
  font-size: 17px;
  color: white;
  border-radius: 50px;
  text-decoration: none;
}

.gifts {
  margin-top: 50px;
  margin-left: 27%;
  display: flex;
  flex-direction: row;
  margin-right: 27%;
  justify-content: space-between;
}

.first-gift {
  display: flex;
  flex-direction: column;
  width: 230px;
  margin: 0px;
  text-align: center;
  align-items: center;
}
.first-gift .cadeaux-marge {
  margin: 0px;
}

.second-gift {
  display: flex;
  flex-direction: column;
  width: 230px;
  text-align: center;
  align-items: center;
}
.second-gift .cadeaux-marge {
  margin: 0px;
}

.third-gift {
  display: flex;
  flex-direction: column;
  width: 240px;
  text-align: center;
  align-items: center;
}
.third-gift .cadeaux-marge {
  margin: 0px;
}

.image-gifts {
  width: 150px;
  height: 150px;
}

.cheminer-flex {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  margin-left: 25%;
  margin-right: 25%;
}

.text-cheminer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}

.cheminer {
  width: 100%;
}

.justify {
  text-align: justify;
  margin-right: 123px;
}

.amour {
  margin-right: 200px;
}

.flex-button {
  margin-top: 20px;
}

.partage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.title-cadeau {
  width: 100%;
}

.title-h2 {
  text-align: center;
}

.ticket-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: 40%;
}

.ticket {
  width: 200px;
  height: 320px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 9px 7px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.ticket .bx {
  margin-top: 5px;
  margin-right: 15px;
  width: 100%;
  font-size: 20px;
  text-align: end;
  color: #dc3845;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.image-ticket {
  width: 100%;
  justify-content: center;
}

.flex-image-ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title-h3 {
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

.pains {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 30px;
  width: 100%;
}

.marginhat {
  width: 80%;
  margin-left: -8px;
}

.center {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.second-title {
  width: 350px;
}

/*# sourceMappingURL=style.css.map */
