@import "variable";
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.text{
    color: $colorText;
}

.dark {
    background-color: #282525;
    color: white;
    p,
    h1,
    h2,
    h3,
    a,
    h4 {
      color: white;
    }
    header {
      background-color: black;
      color: white;
      a {
        color: white;
      }
    }

    .pains{
      color: black;
    }

    .title-h3{
      color: black;
    }

    .head-link{
      color: white;
    }
  }