@import "variable";

#header{
    display: flex;
    flex-direction: row;
    height: 70px;
    top:0;
    position: fixed;
    width: 100%;
    background-color: rgba(28,110,164,0.04);
    z-index: 2;
    backdrop-filter: blur(10px);

    .flex{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 50%;
        margin-left: 25%;
        align-items: center;
        left: 0;
        position: fixed;
        height: 70px;
    }

    .link{
        display: flex;
        width: 50%;
        flex-direction: row;
        justify-content: flex-end;
        gap: 50px;
        margin-right: 25%;
        right: 0;
        align-items: center;
        position: fixed;
        height: 70px;
    }

    .header-link{
        text-decoration: none;
        color: $colorText;
    }

    .header-link:hover{
        color: $colorRed;
    }

    #noel{
        width: 30px;
        height: 30px;
    }

    .bg{
        background-color: red;
    }

}

.shadow{
    box-shadow: 0px 0px 9px 7px rgba(0,0,0,0.14);
}
