@import "header";
@import "variable";
@import "body";
@import "premierepage";


.center{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.second-title{
    width: 350px;
}

